img {
  width: 100%;
}

.landing {
  position: relative;
  background: url("./img/logotest.jpg") no-repeat;
  background-size: 800px, 800px;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}
.footer {
  background-color: #032a47;
}
.navbar {
  background-color: #032a47;
}
.blueBG {
  background: #032a47;
  color: white;
}
